In [1]:
import pandas as pd

#### Event: AssignTrucks

In [2]:
event1_df = pd.read_csv('event_AssignTrucks.csv')
event1_df = event1_df['ocel_id;ocel_time'].str.split(';', expand=True)
event1_df.columns = ['ocel_id', 'ocel_time']

In [3]:
event1_df.head()

           ocel_id            ocel_time
0  assign_trs_Pcp7  2024-05-01 09:39:03
1  assign_trs_Pcp7  2024-05-01 09:45:02
2  assign_trs_Pcp7  2024-05-01 09:45:49
3  assign_trs_Pcp7  2024-05-01 09:50:43
4  assign_trs_Pcp7  2024-05-01 09:51:14

In [4]:
len(event1_df)

390

In [5]:
# drop dupicates in the event1 
event1_df2 = event1_df.drop_duplicates()

In [6]:
len(event1_df2)

390

In [7]:
event1_df2.head()

           ocel_id            ocel_time
0  assign_trs_Pcp7  2024-05-01 09:39:03
1  assign_trs_Pcp7  2024-05-01 09:45:02
2  assign_trs_Pcp7  2024-05-01 09:45:49
3  assign_trs_Pcp7  2024-05-01 09:50:43
4  assign_trs_Pcp7  2024-05-01 09:51:14

#### Event: EvaluateTruckExit

In [8]:
event2_df = pd.read_csv('event_EvaluateTruckExit.csv')
event2_df = event2_df['ocel_id;ocel_time'].str.split(';', expand=True)
event2_df.columns = ['ocel_id', 'ocel_time']
len(event2_df)

390

In [9]:
event2_df2 = event2_df.drop_duplicates()
len(event2_df2)

390

#### Event: InputTallySheet

In [10]:
event3_df = pd.read_csv('event_InputTallySheet.csv')
event3_df = event3_df['ocel_id;ocel_time'].str.split(';', expand=True)
event3_df.columns = ['ocel_id', 'ocel_time']
len(event3_df)

390

In [11]:
event3_df2 = event3_df.drop_duplicates()
len(event3_df2)

390

#### Event: LoadTruck

In [12]:
event4_df = pd.read_csv('event_LoadTruck.csv')
event4_df = event4_df['ocel_id;ocel_time'].str.split(';', expand=True)
event4_df.columns = ['ocel_id', 'ocel_time']
len(event4_df)

390

In [13]:
event4_df2 = event4_df.drop_duplicates()
len(event4_df2)

390

#### Event: PrintWeighingTicket

In [14]:
event5_df = pd.read_csv('event_PrintWeighingTicket.csv')
event5_df = event5_df['ocel_id;ocel_time'].str.split(';', expand=True)
event5_df.columns = ['ocel_id', 'ocel_time']
len(event5_df)

390

In [15]:
event5_df2 = event5_df.drop_duplicates()
len(event5_df2)

390

#### Event: WeighEmptyTruck

In [16]:
event6_df = pd.read_csv('event_WeighEmptyTruck.csv')
event6_df = event6_df['ocel_id;ocel_time'].str.split(';', expand=True)
event6_df.columns = ['ocel_id', 'ocel_time']
len(event6_df)

390

In [17]:
event6_df2 = event6_df.drop_duplicates()
len(event6_df2)

390

#### Event: WeighLoadedTruck

In [18]:
event7_df = pd.read_csv('event_WeighLoadedTruck.csv')
event7_df = event7_df['ocel_id;ocel_time'].str.split(';', expand=True)
event7_df.columns = ['ocel_id', 'ocel_time']
len(event7_df)

390

In [19]:
event7_df2 = event7_df.drop_duplicates()
len(event7_df2)

390

#### Event: LodegePickupPlan

In [20]:
event8_df = pd.read_csv('event_LodgePickupPlan.csv')
event8_df = event8_df['ocel_id;ocel_time'].str.split(';', expand=True)
event8_df.columns = ['ocel_id', 'ocel_time']
len(event8_df)

8

In [21]:
event8_df2 = event8_df.drop_duplicates()
len(event8_df2)

8

#### Concatenates all event tables

In [22]:
combined_events = pd.concat([event1_df2, event2_df2, event3_df2, event4_df2, event5_df2, event6_df2, event7_df2, event8_df2])

In [23]:
sorted_events = combined_events.sort_values(by='ocel_time')

#### Event table

In [24]:
event_df = pd.read_csv('event.csv')
event_df = event_df['ocel_id;ocel_type'].str.split(';', expand=True)
event_df.columns = ['ocel_id','ocel_type']
print(event_df.head())

      ocel_id          ocel_type
0  Lodge_Pcp7  Lodge Pickup Plan
1  Lodge_Pcp1  Lodge Pickup Plan
2  Lodge_Pcp2  Lodge Pickup Plan
3  Lodge_Pcp5  Lodge Pickup Plan
4  Lodge_Pcp4  Lodge Pickup Plan

In [25]:
events = pd.merge(sorted_events, event_df, on='ocel_id', how='inner')

In [26]:
events_distinct = events.drop_duplicates()

In [27]:
events_distinct.rename(columns={'ocel_id': 'event_id', 'ocel_type': 'activity', 'ocel_time': 'timestamp'}, inplace=True)

C:\Users\n9810200\AppData\Local\Temp/ipykernel_87372/2833452285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_distinct.rename(columns={'ocel_id': 'event_id', 'ocel_type': 'activity', 'ocel_time': 'timestamp'}, inplace=True)

In [28]:
events_distinct

                     event_id            timestamp                   activity
0                  Lodge_Pcp7  2024-04-29 08:12:32          Lodge Pickup Plan
1                  Lodge_Pcp1  2024-04-29 08:39:46          Lodge Pickup Plan
2                  Lodge_Pcp2  2024-04-29 08:46:20          Lodge Pickup Plan
3                  Lodge_Pcp5  2024-04-29 09:07:13          Lodge Pickup Plan
4                  Lodge_Pcp4  2024-04-29 09:07:35          Lodge Pickup Plan
...                       ...                  ...                        ...
36422   input_tally_sheettr19  2024-06-07 15:40:08      Input the Tally Sheet
36430  eval_trs_exittr19_Pcp4  2024-06-07 16:48:29    Evaluate the Truck Exit
36431    input_tally_sheettr9  2024-06-07 17:48:52      Input the Tally Sheet
36439       print_w_tickettr9  2024-06-07 17:48:52  Print the Weighing Ticket
36447   eval_trs_exittr9_Pcp4  2024-06-10 08:30:10    Evaluate the Truck Exit

[2738 rows x 3 columns]

In [29]:
events_distinct.to_csv('OCEL_Events.csv', index = False)

#### Event-to-Object relationships

In [30]:
e2o_df = pd.read_csv('event_object.csv')
e2o_df = e2o_df['ocel_event_id;ocel_object_id;ocel_qualifier'].str.split(';', expand=True)
e2o_df.columns = ['ocel_event_id', 'ocel_object_id', 'ocel_qualifier']
e2o_df.rename(columns={'ocel_event_id': 'event_id', 'ocel_object_id': 'object_id', 'ocel_qualifier': 'e2o_qualifier'}, inplace=True)

In [31]:
e2o_df_distinct = e2o_df.drop_duplicates()
e2o_df_distinct

                    event_id object_id                  e2o_qualifier
0                 Lodge_Pcp7      Pcp7             lodged pickup plan
1                 Lodge_Pcp7      Cr17  cargo scheduled to be pick up
2                 Lodge_Pcp1      Pcp1             lodged pickup plan
3                 Lodge_Pcp1       Cr1  cargo scheduled to be pick up
4                 Lodge_Pcp2      Pcp2             lodged pickup plan
...                      ...       ...                            ...
2713  eval_trs_exittr24_Pcp6      tr24      Exit evaluation for truck
2714  eval_trs_exittr37_Pcp6      tr37      Exit evaluation for truck
2729  eval_trs_exittr40_Pcp4      tr40      Exit evaluation for truck
2742  eval_trs_exittr19_Pcp4      tr19      Exit evaluation for truck
2745   eval_trs_exittr9_Pcp4       tr9      Exit evaluation for truck

[822 rows x 3 columns]

In [32]:
e2o_df_distinct.to_csv('OCEL_E2O.csv', index = False)

#### Object-to-Object relationships

In [33]:
o2o_df = pd.read_csv('object_object.csv')
o2o_df = o2o_df['ocel_source_id;ocel_target_id;ocel_qualifier;ocel_time'].str.split(';', expand=True)
o2o_df.columns = ['ocel_source_id', 'ocel_target_id', 'ocel_qualifier','ocel_time']

In [34]:
o2o_df_distinct = o2o_df.drop_duplicates()
o2o_df_distinct

,ocel_source_id,ocel_target_id,ocel_qualifier,ocel_time
0,Pcp7,Cr17,Lodged pickup plan for cargo,2024-04-29 08:12:32
1,Pcp1,Cr1,Lodged pickup plan for cargo,2024-04-29 08:39:46
2,Pcp2,Cr11,Lodged pickup plan for cargo,2024-04-29 08:46:20
3,Pcp5,Cr7,Lodged pickup plan for cargo,2024-04-29 09:07:13
4,Pcp4,Cr16,Lodged pickup plan for cargo,2024-04-29 09:07:35
...,...,...,...,...
783,tr25,Pcp4,Dropped truck from pickup plan,2024-06-07 08:57:51
784,tr42,Pcp6,Dropped truck from pickup plan,2024-06-07 09:19:50
785,tr33,Pcp4,Dropped truck from pickup plan,2024-06-07 09:52:33
786,tr19,Pcp4,Dropped truck from pickup plan,2024-06-07 16:48:29
787,tr9,Pcp4,Dropped truck from pickup plan,2024-06-10 08:30:10

In [35]:
o2o_df_distinct.rename(columns={'ocel_source_id': 'source_object_id', 'ocel_target_id': 'target_object_id', 'ocel_qualifier': 'o2o_qualifier','ocel_time':'timestamp'}, inplace=True)

In [36]:
o2o_df_distinct

,source_object_id,target_object_id,o2o_qualifier,timestamp
0,Pcp7,Cr17,Lodged pickup plan for cargo,2024-04-29 08:12:32
1,Pcp1,Cr1,Lodged pickup plan for cargo,2024-04-29 08:39:46
2,Pcp2,Cr11,Lodged pickup plan for cargo,2024-04-29 08:46:20
3,Pcp5,Cr7,Lodged pickup plan for cargo,2024-04-29 09:07:13
4,Pcp4,Cr16,Lodged pickup plan for cargo,2024-04-29 09:07:35
...,...,...,...,...
783,tr25,Pcp4,Dropped truck from pickup plan,2024-06-07 08:57:51
784,tr42,Pcp6,Dropped truck from pickup plan,2024-06-07 09:19:50
785,tr33,Pcp4,Dropped truck from pickup plan,2024-06-07 09:52:33
786,tr19,Pcp4,Dropped truck from pickup plan,2024-06-07 16:48:29
787,tr9,Pcp4,Dropped truck from pickup plan,2024-06-10 08:30:10

In [37]:
o2o_df_distinct.to_csv('OCEL_O2O.csv', index = False)

#### Object: Truck

In [38]:
truck_df = pd.read_csv('object_Truck.csv')
truck_df = truck_df['ocel_id;ocel_time;ocel_changed_field;Pickup Plan ID;Cargo ID;LPT;Axles;Scheduled Pickup Weight;Truck Status;Truck Weight'].str.split(';', expand=True)
truck_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Pickup Plan ID','Cargo ID','LPT','Axles','Scheduled Pickup Weight','Truck Status','Truck Weight']
truck_df.rename(columns={'ocel_id': 'object_id', 'ocel_time': 'timestamp'}, inplace=True)

In [39]:
truck_df.to_csv('OCEL_Truck.csv', index = False)

#### Object: PickupPlan

In [40]:
pickupplan_df = pd.read_csv('object_Pickupplan.csv')
pickupplan_df = pickupplan_df['ocel_id;ocel_time;ocel_changed_field;Cargo ID;Num of trucks;Total pickup weight'].str.split(';', expand=True)
pickupplan_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Cargo ID','Num of trucks','Total pickup weight']
pickupplan_df.rename(columns={'ocel_id': 'object_id', 'ocel_time': 'timestamp'}, inplace=True)

In [41]:
pickupplan_df.to_csv('OCEL_PickupPlan.csv', index = False)

#### Object: Cargo

In [45]:
cargo_df = pd.read_csv('object_Cargo.csv')
cargo_df = cargo_df['ocel_id;ocel_time;ocel_changed_field;Cargo Type;Cargo stock weight(scheduled);Silo ID'].str.split(';', expand=True)
cargo_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Cargo Type','Cargo stock weight(scheduled)','Silo ID']
cargo_df.rename(columns={'ocel_id': 'object_id', 'ocel_time': 'timestamp'}, inplace=True)

In [46]:
cargo_df.to_csv('OCEL_Cargo.csv', index = False)