In [12]:
import pandas as pd
import ast

In [2]:
expected_staticO2O = 100

##### Dirigo

In [4]:
dirigo_df = pd.read_csv('../Dirigo/OCEL_O2O.csv')

In [6]:
grouped_dirigo = dirigo_df.groupby(['Source_object_id', 'Target_object_id'])['Timestamp'].nunique().reset_index()
grouped_dirigo

    Source_object_id Target_object_id  Timestamp
0               Pcp1              Cr4          1
1              Pcp10              Cr5          1
2             Pcp100             Cr20          1
3              Pcp11             Cr19          1
4              Pcp12              Cr9          1
..               ...              ...        ...
295              tr8            Pcp77          2
296              tr8            Pcp80          2
297              tr9            Pcp13          2
298              tr9             Pcp6          2
299              tr9            Pcp78          2

[300 rows x 3 columns]

In [10]:
static_pairs_dirigo = grouped_dirigo[grouped_dirigo['Timestamp'] == 1]

completeness_ratio_dirigo = len(static_pairs_dirigo) / expected_staticO2O
print(f"SO2OCR (Dirigo): {completeness_ratio_dirigo:.2%}")

SO2OCR (Dirigo): 100.00%

##### ACEL

In [21]:
acel_events = pd.read_csv('../ACEL/ACEL_Events.csv')

In [22]:
relation_changes = []
for _, row in acel_events.iterrows():
        changes_raw = row['RelationChanges']
        if pd.notna(changes_raw):
            try:
                changes = ast.literal_eval(changes_raw)
                for change in changes:
                    relation_changes.append({
                        'RelationId': change.get('RelationId'),
                        'ChangeStatus': change.get('ChangeStatus')
                    })
            except Exception:
                continue

In [26]:
acel_o2o_static = pd.DataFrame(relation_changes)
acel_o2o_static

        RelationId   ChangeStatus
0     Cr2_to_Pcp44    addedTarget
1     Cr9_to_Pcp87    addedTarget
2    Cr20_to_Pcp48    addedTarget
3    Cr13_to_Pcp55    addedTarget
4     Cr7_to_Pcp69    addedTarget
..             ...            ...
495  Pcp51_to_tr29  deletedTarget
496  Pcp70_to_tr29    addedTarget
497  Pcp70_to_tr49    addedTarget
498  Pcp70_to_tr49  deletedTarget
499  Pcp70_to_tr29  deletedTarget

[500 rows x 2 columns]

In [31]:
status_counts = acel_o2o_static.groupby('RelationId')['ChangeStatus'].nunique().reset_index()
acel_static_relations = status_counts[status_counts['ChangeStatus'] == 1]
completeness_ratio_acel = len(acel_static_relations) / expected_staticO2O
print(f"SO2OCR (ACEL): {completeness_ratio_acel:.2%}")

SO2OCR (ACEL): 100.00%

##### DOCEL

In [32]:
docel_df = pd.read_csv('../DOCEL/DOCEL_PickupplanCargo.csv')

In [ ]:
unique_pairs = docel_df[['Cargo ID','objectID']].drop_duplicates()
unique_pairs

   Cargo ID objectID
0       Cr2    Pcp44
1       Cr9    Pcp87
2      Cr20    Pcp48
3      Cr13    Pcp55
4       Cr7    Pcp69
..      ...      ...
95     Cr20    Pcp37
96     Cr14    Pcp75
97     Cr15    Pcp62
98     Cr17    Pcp50
99     Cr13    Pcp77

[100 rows x 2 columns]

In [35]:
completeness_ratio_docel = len(unique_pairs) / expected_staticO2O
print(f"SO2OCR (DOCEL): {completeness_ratio_acel:.2%}")

SO2OCR (DOCEL): 100.00%