In [1]:
import pandas as pd

#### Event: AssignTrucks

In [2]:
event1_df = pd.read_csv('event_AssignTrucks.csv')
event1_df = event1_df['ocel_id;ocel_time'].str.split(';', expand=True)
event1_df.columns = ['ocel_id', 'ocel_time']

In [3]:
event1_df.head()

            ocel_id            ocel_time
0  assign_trs_Pcp52  2024-04-01 08:47:11
1  assign_trs_Pcp20  2024-04-01 08:47:57
2  assign_trs_Pcp56  2024-04-01 08:54:07
3  assign_trs_Pcp92  2024-04-01 08:54:20
4  assign_trs_Pcp77  2024-04-01 09:03:49

In [4]:
len(event1_df)

256

In [5]:
# drop dupicates in the event1 
event1_df2 = event1_df.drop_duplicates()

In [6]:
len(event1_df2)

256

In [7]:
event1_df2.head()

            ocel_id            ocel_time
0  assign_trs_Pcp52  2024-04-01 08:47:11
1  assign_trs_Pcp20  2024-04-01 08:47:57
2  assign_trs_Pcp56  2024-04-01 08:54:07
3  assign_trs_Pcp92  2024-04-01 08:54:20
4  assign_trs_Pcp77  2024-04-01 09:03:49

#### Event: EvaluateTruckExit

In [8]:
event2_df = pd.read_csv('event_EvaluateTruckExit.csv')
event2_df = event2_df['ocel_id;ocel_time'].str.split(';', expand=True)
event2_df.columns = ['ocel_id', 'ocel_time']
len(event2_df)

256

In [9]:
event2_df2 = event2_df.drop_duplicates()
len(event2_df2)

256

#### Event: InputTallySheet

In [10]:
event3_df = pd.read_csv('event_InputTallySheet.csv')
event3_df = event3_df['ocel_id;ocel_time'].str.split(';', expand=True)
event3_df.columns = ['ocel_id', 'ocel_time']
len(event3_df)

256

In [11]:
event3_df2 = event3_df.drop_duplicates()
len(event3_df2)

256

#### Event: LoadTruck

In [12]:
event4_df = pd.read_csv('event_LoadTruck.csv')
event4_df = event4_df['ocel_id;ocel_time'].str.split(';', expand=True)
event4_df.columns = ['ocel_id', 'ocel_time']
len(event4_df)

256

In [13]:
event4_df2 = event4_df.drop_duplicates()
len(event4_df2)

256

#### Event: PrintWeighingTicket

In [14]:
event5_df = pd.read_csv('event_PrintWeighingTicket.csv')
event5_df = event5_df['ocel_id;ocel_time'].str.split(';', expand=True)
event5_df.columns = ['ocel_id', 'ocel_time']
len(event5_df)

256

In [15]:
event5_df2 = event5_df.drop_duplicates()
len(event5_df2)

256

#### Event: WeighEmptyTruck

In [16]:
event6_df = pd.read_csv('event_WeighEmptyTruck.csv')
event6_df = event6_df['ocel_id;ocel_time'].str.split(';', expand=True)
event6_df.columns = ['ocel_id', 'ocel_time']
len(event6_df)

256

In [17]:
event6_df2 = event6_df.drop_duplicates()
len(event6_df2)

256

#### Event: WeighLoadedTruck

In [18]:
event7_df = pd.read_csv('event_WeighLoadedTruck.csv')
event7_df = event7_df['ocel_id;ocel_time'].str.split(';', expand=True)
event7_df.columns = ['ocel_id', 'ocel_time']
len(event7_df)

256

In [19]:
event7_df2 = event7_df.drop_duplicates()
len(event7_df2)

256

#### Event: LodegePickupPlan

In [20]:
event8_df = pd.read_csv('event_LodgePickupPlan.csv')
event8_df = event8_df['ocel_id;ocel_time'].str.split(';', expand=True)
event8_df.columns = ['ocel_id', 'ocel_time']
len(event8_df)

100

In [21]:
event8_df2 = event8_df.drop_duplicates()
len(event8_df2)

100

#### Concatenates all event tables

In [22]:
combined_events = pd.concat([event1_df2, event2_df2, event3_df2, event4_df2, event5_df2, event6_df2, event7_df2, event8_df2])

In [23]:
sorted_events = combined_events.sort_values(by='ocel_time')

#### Event table

In [24]:
event_df = pd.read_csv('event.csv')
event_df = event_df['ocel_id;ocel_type'].str.split(';', expand=True)
event_df.columns = ['ocel_id','ocel_type']
print(event_df.head())

       ocel_id          ocel_type
0  Lodge_Pcp20  Lodge Pickup Plan
1  Lodge_Pcp49  Lodge Pickup Plan
2  Lodge_Pcp56  Lodge Pickup Plan
3  Lodge_Pcp77  Lodge Pickup Plan
4  Lodge_Pcp52  Lodge Pickup Plan

In [25]:
events = pd.merge(sorted_events, event_df, on='ocel_id', how='inner')

In [26]:
events_distinct = events.drop_duplicates()

In [27]:
events_distinct.rename(columns={'ocel_id': 'event_id', 'ocel_type': 'activity', 'ocel_time': 'timestamp'}, inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [28]:
events_distinct

                     event_id            timestamp                 activity
0                 Lodge_Pcp20  2024-03-04 07:33:41        Lodge Pickup Plan
1                 Lodge_Pcp49  2024-03-04 07:33:49        Lodge Pickup Plan
2                 Lodge_Pcp56  2024-03-04 07:35:08        Lodge Pickup Plan
3                 Lodge_Pcp77  2024-03-04 07:36:01        Lodge Pickup Plan
4                 Lodge_Pcp52  2024-03-04 07:36:17        Lodge Pickup Plan
...                       ...                  ...                      ...
7893  eval_trs_exittr27_Pcp32  2024-04-11 21:50:42  Evaluate the Truck Exit
7894  eval_trs_exittr37_Pcp55  2024-04-11 22:11:39  Evaluate the Truck Exit
7895  eval_trs_exittr44_Pcp62  2024-04-11 22:52:08  Evaluate the Truck Exit
7896   eval_trs_exittr7_Pcp31  2024-04-12 07:28:47  Evaluate the Truck Exit
7897  eval_trs_exittr43_Pcp75  2024-04-12 14:20:50  Evaluate the Truck Exit

[1892 rows x 3 columns]

In [29]:
events_distinct.to_csv('OCEL_Events.csv', index = False)

#### Event-to-Object relationships

In [30]:
e2o_df = pd.read_csv('event_object.csv')
e2o_df = e2o_df['ocel_event_id;ocel_object_id;ocel_qualifier'].str.split(';', expand=True)
e2o_df.columns = ['ocel_event_id', 'ocel_object_id', 'ocel_qualifier']
e2o_df.rename(columns={'ocel_event_id': 'event_id', 'ocel_object_id': 'object_id', 'ocel_qualifier': 'e2o_qualifier'}, inplace=True)

In [31]:
e2o_df_distinct = e2o_df.drop_duplicates()
e2o_df_distinct

                     event_id object_id                  e2o_qualifier
0                 Lodge_Pcp20     Pcp20             lodged pickup plan
1                 Lodge_Pcp20      Cr89  cargo scheduled to be pick up
2                 Lodge_Pcp49     Pcp49             lodged pickup plan
3                 Lodge_Pcp49      Cr62  cargo scheduled to be pick up
4                 Lodge_Pcp56     Pcp56             lodged pickup plan
...                       ...       ...                            ...
1974  eval_trs_exittr27_Pcp32      tr27      Exit evaluation for truck
1977  eval_trs_exittr37_Pcp55      tr37      Exit evaluation for truck
1980  eval_trs_exittr44_Pcp62      tr44      Exit evaluation for truck
1983   eval_trs_exittr7_Pcp31       tr7      Exit evaluation for truck
1991  eval_trs_exittr43_Pcp75      tr43      Exit evaluation for truck

[956 rows x 3 columns]

In [32]:
e2o_df_distinct.to_csv('OCEL_E2O.csv', index = False)

#### Object-to-Object relationships

In [33]:
o2o_df = pd.read_csv('object_object.csv')
o2o_df = o2o_df['ocel_source_id;ocel_target_id;ocel_qualifier;ocel_time'].str.split(';', expand=True)
o2o_df.columns = ['ocel_source_id', 'ocel_target_id', 'ocel_qualifier','ocel_time']

In [34]:
o2o_df_distinct = o2o_df.drop_duplicates()
o2o_df_distinct

,ocel_source_id,ocel_target_id,ocel_qualifier,ocel_time
0,Pcp20,Cr89,Lodged pickup plan for cargo,2024-03-04 07:33:41
1,Pcp49,Cr62,Lodged pickup plan for cargo,2024-03-04 07:33:49
2,Pcp56,Cr14,Lodged pickup plan for cargo,2024-03-04 07:35:08
3,Pcp77,Cr46,Lodged pickup plan for cargo,2024-03-04 07:36:01
4,Pcp52,Cr24,Lodged pickup plan for cargo,2024-03-04 07:36:17
...,...,...,...,...
607,tr37,Pcp55,Dropped truck from pickup plan,2024-04-11 22:11:39
608,tr44,Pcp62,Dropped truck from pickup plan,2024-04-11 22:52:08
609,tr7,Pcp31,Dropped truck from pickup plan,2024-04-12 07:28:47
610,tr20,Pcp85,Dropped truck from pickup plan,2024-04-12 10:39:04
611,tr43,Pcp75,Dropped truck from pickup plan,2024-04-12 14:20:50

In [35]:
o2o_df_distinct.rename(columns={'ocel_source_id': 'source_object_id', 'ocel_target_id': 'target_object_id', 'ocel_qualifier': 'o2o_qualifier','ocel_time':'timestamp'}, inplace=True)

In [36]:
o2o_df_distinct

,source_object_id,target_object_id,o2o_qualifier,timestamp
0,Pcp20,Cr89,Lodged pickup plan for cargo,2024-03-04 07:33:41
1,Pcp49,Cr62,Lodged pickup plan for cargo,2024-03-04 07:33:49
2,Pcp56,Cr14,Lodged pickup plan for cargo,2024-03-04 07:35:08
3,Pcp77,Cr46,Lodged pickup plan for cargo,2024-03-04 07:36:01
4,Pcp52,Cr24,Lodged pickup plan for cargo,2024-03-04 07:36:17
...,...,...,...,...
607,tr37,Pcp55,Dropped truck from pickup plan,2024-04-11 22:11:39
608,tr44,Pcp62,Dropped truck from pickup plan,2024-04-11 22:52:08
609,tr7,Pcp31,Dropped truck from pickup plan,2024-04-12 07:28:47
610,tr20,Pcp85,Dropped truck from pickup plan,2024-04-12 10:39:04
611,tr43,Pcp75,Dropped truck from pickup plan,2024-04-12 14:20:50

In [37]:
o2o_df_distinct.to_csv('OCEL_O2O.csv', index = False)

#### Object: Truck

In [38]:
truck_df = pd.read_csv('object_Truck.csv')
truck_df = truck_df['ocel_id;ocel_time;ocel_changed_field;Pickup Plan ID;Cargo ID;LPT;Axles;Scheduled Pickup Weight;Truck Status;Truck Weight'].str.split(';', expand=True)
truck_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Pickup Plan ID','Cargo ID','LPT','Axles','Scheduled Pickup Weight','Truck Status','Truck Weight']
truck_df.rename(columns={'ocel_id': 'object_id', 'ocel_time': 'timestamp'}, inplace=True)

In [39]:
truck_df.to_csv('OCEL_Truck.csv', index = False)

#### Object: PickupPlan

In [40]:
pickupplan_df = pd.read_csv('object_Pickupplan.csv')
pickupplan_df = pickupplan_df['ocel_id;ocel_time;ocel_changed_field;Cargo ID;Num of trucks;Total pickup weight'].str.split(';', expand=True)
pickupplan_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Cargo ID','Num of trucks','Total pickup weight']
pickupplan_df.rename(columns={'ocel_id': 'object_id', 'ocel_time': 'timestamp'}, inplace=True)

In [41]:
pickupplan_df.to_csv('OCEL_PickupPlan.csv', index = False)

#### Object: Cargo

In [42]:
cargo_df = pd.read_csv('object_Cargo.csv')
cargo_df = cargo_df['ocel_id;ocel_time;ocel_changed_field;Cargo Type;Cargo stock weight(scheduled);Cargo stock weight(real);Silo ID'].str.split(';', expand=True)
cargo_df.columns = ['ocel_id','ocel_time','ocel_changed_field','Cargo Type','Cargo stock weight(scheduled)','Cargo stock weight(real)','Silo ID']
cargo_df.rename(columns={'ocel_id': 'object_id', 'ocel_time': 'timestamp'}, inplace=True)

In [43]:
cargo_df.to_csv('OCEL_Cargo.csv', index = False)